@model WebApplication.Models.GoodViewModel
@{
    ViewBag.Title = "Good details";
}

<h2>@Model.Name</h2>

Desc: @Html.DisplayFor(model => model.Description) 
<br />
Price: @Html.DisplayFor(model => model.Price) 
<br />
@*Type: @Html.DisplayFor(model => model.TypeId) 
<br />*@<br />

@Html.ActionLink("Edit", "EditGood", new { name = Model.Name })